.resume {
    color: #19192c;
    font: 500 82.5% "Montserrat",
    sans-serif;
    outline: none;

}
.resume:hover{
    color: #f00;
    transition: all ease 0.3s;
}

hr {
    margin-top: 0.1em ;
    margin-left: 0.3em;
    width: 30%;
    border-width: 1.5px;
    border-radius: 20px;
    float: left;
}

.arrowPacman {
  --arrow-width: 10px;
  --arrow-spacer: 4px;
  --arrow-plus-spacer: calc(var(--arrow-width) + var(--arrow-spacer));
  overflow: hidden;
  position: absolute;
  right: -0.2em;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: var(--arrow-plus-spacer);
}

.arrowPacman svg {
  height: 16px;
  width: var(--arrow-width);
  transform: rotate(90deg);

}

.arrowPacman svg:last-of-type {
  margin-left: var(--arrow-spacer);
}

.arrowPacman-clip {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  -webkit-transform: translateY(calc(var(--arrow-plus-spacer) * -1));
  transform: translateY(calc(var(--arrow-plus-spacer) * -1));
  width: calc(var(--arrow-plus-spacer) + var(--arrow-width));
}

@-webkit-keyframes pacman {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes pacman {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

button {
  background-color: transparent;
  border: 0px solid transparent;
  margin: auto;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem 0.75rem 0rem;
  position: relative;
}

button:hover .arrowPacman-clip {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-name: pacman;
  animation-name: pacman;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
  animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
}
