@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Righteous");

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    line-height: 1.5;
    font: 400 62.5% "Montserrat", sans-serif;
    color: #19192c;
    background-color: #e1e1f825;
}

@media (max-width: 991px) {
    .title{
        display: none;
    }
}

.hidden {
    overflow: hidden;
}

.aside {
    padding: 1em;
    margin: auto;
}

@media (max-width: 991px) {
    .aside {
        flex-flow: row wrap;
        padding-bottom: 1em;
    }
}

.social {
    font-family: "Righteous", sans-serif;
}

.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 991px) {
    .social ul {
        display: flex;
    }
}

.social ul li {
    margin: 0.25em;
    padding: 1em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1rem;
}

.projects p {
    font: 400 132.5% "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0.5rem 0;
}

.projects {
    font: 400 62.5% "Montserrat", sans-serif;
}
.projects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.projects ul li{
    display: inline;
    line-height: 1.6;
    margin-right: 0.85em;
    padding: 0.2em 0;
    font-weight: 500;
    font-size: 0.8rem;
}

.projects ul li span {
    margin-left: 10px;
}
.projects li a{
    color: #aa0404;
}
.projects li a:hover {
    color: #f00;
    transform: scale(0.95);
}

@media (max-width: 991px) {
    .social ul li {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-size: 1rem;
        padding-left: 10px;
    }
}

@media (max-width: 544px) {
    .social ul li {
        font-size: 0.7rem;
    }
}

.social ul li a {
    text-decoration: none;
    color: #21213d;
transition: all ease 0.3s;
}

.social ul li a:hover {
    color: #f00;
    transform: scale(0.95);
}

.title {
    position: relative;
    padding-bottom: 1.5em;
    height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 2.3rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    user-select: none;
    pointer-evens: none;
}

@media (max-width: 991px) {
    .title {
        padding: 0 1em;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }
}

.title h1 {
    position: relative;
    top: 0.3em;
    font-size: 73px;
    margin: auto;
    font-family: "Righteous", sans-serif;
}

.title h1 span {
    position: relative;
    left: .5em;
    z-index: -1;
    display: block;
    width: auto;
    color: transparent;
    background-image: linear-gradient(-90deg, #f00, #c8305f);
    -webkit-background-clip: text;
    background-clip: text;
}

.content {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    padding: 3em;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1rem;
    float: left;
}

.wrapper {
    display: flex;
    /* justify-content: space-between; */
}

@media (max-width: 991px) {
.wrapper {
    flex-direction: column;
}
}
.sidebar {
 padding-right: 50px;
}

.main {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .content {
        padding: 2.4em;
        order: 1;
    }

    .sidebar {
        padding: 0;
    }

    .content .main {
        float: left;
    }
    .title h1 span {
        left: -0.03em;
        top: -0.5em;
    }
}

@media (max-width: 990px) {
    .topper {
        padding-top: 30px;
        order: 0;
    }
    .content .about {
        width: 60%;
    }
}

@media (max-width: 550px) {
    .content .about {
        width: 100%;
    }
}
.content .about .sitename {
    font-family: "Righteous", sans-serif;
    margin: auto;
}

.content .about .sitename span {
    display: block;    
    font: 500 42.5% "Montserrat", sans-serif;
    position: relative;
}

.about a {
    text-decoration: none;
    color: #19192c;
    transition: all ease 0.3s;
}

.about a:hover {
    color: #f00;
    transform: scale(0.95);
}

.c
.content .about .desc {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5em;
}

.content .about .email {
    font: 400 62.5% "Montserrat", sans-serif;
    padding: 1.5px;
    border: 0;
    border-radius: 0.35em;
    background-color: transparent;
    background-image: linear-gradient(-90deg, #f00, #c8305f);
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
    will-change: transform;
}

.content .about .email:focus {
    outline: none;
}

.content .about .email span {
    display: block;
    padding: 1em 2em;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.15em;
    background-color: white;
    color: #f00;
}

.content .about .email:hover {
    transform: scale(0.95);
}

.content .about .email:hover span {
    background-color: transparent;
    color: white;
}

.copy {
    /* position: absolute; */
    padding: 10px;
    float: right;
}

@media (max-width: 991px) {
.copy {
    text-align: center;
    /* margin: 0px; */
}
}

.resume {
    color: #19192c;
    font: 500 82.5% "Montserrat", sans-serif;
    outline: none;
    margin: -3px;

}

.resume:hover {
    color: #f00;
    transition: all ease 0.3s;
}

hr {
    margin-top: 0.1em;
    margin-left: 0.3em;
    width: 30%;
    border-width: 1.5px;
    border-radius: 20px;
    float: left;
}

.arrowPacman {
    --arrow-width: 10px;
    --arrow-spacer: 4px;
    --arrow-plus-spacer: calc(var(--arrow-width) + var(--arrow-spacer));
    overflow: hidden;
    position: absolute;
    right: -0.2em;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: var(--arrow-plus-spacer);
}

.arrowPacman svg {
    height: 16px;
    width: var(--arrow-width);
    transform: rotate(90deg);

}

.arrowPacman svg:last-of-type {
    margin-left: var(--arrow-spacer);
}

.arrowPacman-clip {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    -webkit-transform: translateY(calc(var(--arrow-plus-spacer) * -1));
    transform: translateY(calc(var(--arrow-plus-spacer) * -1));
    width: calc(var(--arrow-plus-spacer) + var(--arrow-width));
}

@-webkit-keyframes pacman {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes pacman {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

button {
    background-color: transparent;
    border: 0px solid transparent;
    margin: auto;
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 1.5rem 0.75rem 0rem;
    position: relative;
}

button:hover .arrowPacman-clip {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-name: pacman;
    animation-name: pacman;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
    animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
}


.avater {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

.avater .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #FCEFF2;
    width: 40em;
    height: 40em;
    border-radius: 50%;
}

.avater .circle > .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #F7DCE2;
    width: 31em;
    height: 31em;
    border-radius: 50%;
}

.avater .circle > .circle > img{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 22em;
    height: 22em;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 450px) {
    .avater .circle {
        width: 240px;
        height: 240px;
    }
    .avater .circle>.circle {
        width: 190px;
        height: 190px;
    }
    .avater .circle > .circle > img {
        width: 140px;
        height: 140px;

    }
    }